
<div class="customer">
  <h4><%= link_to customer.first_name, "first_name" %></h4> 
  <h4><%= link_to customer.last_name, "last_name" %></h4>
  <h4><%= link_to customer.address, "address" %></h4>
  <h4><%= link_to customer.city, "City" %></h4>
  <h4><%= link_to customer.province, "province" %></h4>

</div>
